* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.calculator {
  padding: 2vh 2vw;
  border: 1px white solid;
  border-radius: 40px;
  color: white;
  text-align: center;
}

.result {
  font-size: 25px;
  width: 100%;
  text-align: right;
  background: none;
  border: none;
  color: white;
}

.interface {
  font-size: 24px;
  user-select: none;
}

.row {
  display: flex;
  justify-content: space-between;
}

.reverse {
  flex-direction: row-reverse;
}

.btn {
  width: 5rem;
  height: 5rem;
  margin: 2px;
  border-radius: 5rem;
  color: white;
  font-weight: bold;
  font-size: 24px;
}

.orange {
  background-color: orange;
}

.gray {
  background-color: gray;
}

.dark {
  background-color: #282828;
}

.double {
  width: 10rem;
  border-radius: 5rem;
}

.black {
  background-color: black;
}

.picker {
  display: none;
}
