body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.display1{
    display: flex;
}

.dis-calculator{
    margin-left: 100px;
}

.result{
    margin-top: 50px;
}
.buttonscod{
    display: flex;
}
.calculator {
    width: 260px;
    margin: 50px auto ;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #000000;
}

.display {
    margin-bottom: 10px;
}

input[type="text"] {
    width: 90%;
    padding: 10px;
    font-size: 34px;
    text-align: right;
    background-color: #000000;
    border: 0;
    color: #fff;
}

.buttons{
    margin-bottom: 10px;
}

.buttons button {
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 25px;
}

.buttons button:hover {
    background-color: #777676;
}

.sizeButton{
    width: 50px;
    height: 50px;
    background-color: #545454;
    color: white;
}

.operation{
    width: 50px;
    height: 50px;
    background-color: orange;
    color: white;
}

.buttons .operation:hover {
    background-color: rgb(178, 116, 0);
}

.button0{
    width: 118px;
    height: 50px;
    background-color: #404040;
    color: #fff;
}

.appButton{
    width: 50px;
    height: 50px;
    background-color: rgb(155, 155, 155);
    color: white;
}

.colorMode{
    width: 150px;
    height: 30px;
}

.colorBtn{
    width: 50px;
    height: 50px;
    color: white;
    background-color: aqua;
}

.sizeBtn{
    width: 50px;
    height: 50px;
    background-color: #0800ff;
    color: white;
}

.appBtn{
    width: 50px;
    height: 50px;
    background-color: rgb(255, 0, 0);
    color: white;
}

.btn0{
    width: 118px;
    height: 50px;
    background-color: #0800ff;
    color: #fff;
}